@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dot-wh: 1.4rem;
    --dice-wh: 120px;
}

/* General CSS */
body {
    height: 100vh;
    background: rgb(238,174,202);
    background: 
        radial-gradient(circle, 
        rgba(238,174,202,1) 0%, 
        rgba(148,187,233,1) 50%, 
        rgba(233,190,148,1) 89%);

    padding: 0 5rem;
}
h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-bottom: 2rem;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

span {
    display: block;
}

button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin: 1rem 0;
  }
    
  button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

.container {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(255, 255, 255, 0.26);

    height: 70vh;
    width: 28%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

.label {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

#resultGameOutput {
    display: inline-block;
}

/* Dice Game */
.dot {
    background-color: black;
    width: var(--dot-wh);
    height: var(--dot-wh);
    border-radius: 50%;
}
.dice-structure {
    outline: 3px solid white;
    width: var(--dice-wh);
    height: var(--dice-wh);
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* Dice 1 */
.dice-value1 {
    background-color: lightgrey;
    width: var(--dice-wh);
    height: var(--dice-wh);
    border-radius: 0.6rem;
    position: relative;
}
    .dice-value1 .dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/* Dice 2 */
.dice-value2 {
    background-color: lightgrey;
    width: var(--dice-wh);
    height: var(--dice-wh);
    border-radius: 0.6rem;
    position: relative;
}
    .dice-value2 .dot:nth-child(1) {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    .dice-value2 .dot:nth-child(2) {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }

/* Dice 3 */
.dice-value3 {
    background-color: lightgrey;
    width: var(--dice-wh);
    height: var(--dice-wh);
    border-radius: 0.6rem;
    position: relative;
}
    .dice-value3 .dot:nth-child(1) {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    .dice-value3 .dot:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
    .dice-value3 .dot:nth-child(3) {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }

/* Dice 4 */
.dice-value4 {
    background-color: lightgrey;
    width: var(--dice-wh);
    height: var(--dice-wh);
    border-radius: 0.6rem;
    position: relative;
}
    .dice-value4 .dot:nth-child(1) {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    .dice-value4 .dot:nth-child(2) {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
    .dice-value4 .dot:nth-child(3) {
        position: absolute;
        left: 0.5rem;
        bottom: 0.5rem;
    }
    .dice-value4 .dot:nth-child(4) {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }

/* Dice 5 */
.dice-value5 {
    background-color: lightgrey;
    width: var(--dice-wh);
    height: var(--dice-wh);
    border-radius: 0.6rem;
    position: relative;
}
    .dice-value5 .dot:nth-child(1) {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    .dice-value5 .dot:nth-child(2) {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
    .dice-value5 .dot:nth-child(3) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .dice-value5 .dot:nth-child(4) {
        position: absolute;
        left: 0.5rem;
        bottom: 0.5rem;
    }
    .dice-value5 .dot:nth-child(5) {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }

/* Dice 6 */
.dice-value6 {
    background-color: lightgrey;
    width: var(--dice-wh);
    height: var(--dice-wh);
    border-radius: 0.6rem;
    position: relative;
}
    .dice-value6 .dot:nth-child(1) {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    .dice-value6 .dot:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translate(0, -50%);
    }
    .dice-value6 .dot:nth-child(3) {
        position: absolute;
        left: 0.5rem;
        bottom: 0.5rem;
    }
    .dice-value6 .dot:nth-child(4) {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }
    .dice-value6 .dot:nth-child(5) {
        position: absolute;
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translate(0, -50%);
    }
    .dice-value6 .dot:nth-child(6) {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }

    
    
